@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Prata&display=swap');

:root{
    --cor1: #0f2b2e;
    --cor2: #225a58;
    --cor3: #6d9c9c;
    --cor4: #ecf0ef;
    --sombra: #032c0162;
    --fonte1: "Prata", serif;
    --fonte2: "Fraunces", serif;
    --fonte3: "monserrat", sans-serif;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 200;
  font-style: normal;
}
.fraunces-regular {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}


body {
    width:100vw;
    height:100vh;
    margin: 0;
    padding:0;
    background-color: #f8f9f8;
    font-family: var(--fonte3);
    }

.btnEditar{
        font-size: 20px;
        position: relative;
        float: right;
        background-color: transparent;
        border: none;
}

    header {
        background: url('img/banner.png') no-repeat top/cover;
        width: 90vw;
        height: 12vh;
        padding: 0px 5vw;
        display: inline-flex;
        align-items: center;
        box-shadow: #0f2b2e 0px 0px 50px;
        align-items: center;
    
        div{
            width: 30vw;
            height: 10vh;
            display: flex;
            align-items: center;
            margin: auto;
        }
        img{
            height: 10vh;    
            width: 4.5vw;
            margin: 0 1vw;
        }
        h1 {
            margin: 0;
            font-size: 5vh;
            color: white;
            font-family: var(--fonte1);
            font-weight: lighter;
        }
        button {
            background:transparent;
            border: none;
            cursor: pointer;
            display: block;
            align-items: center;
            float: left;
            transition:0.3s;
            position: absolute;
            right: 3vw;
        }
    }


    #perfil {
        display: none;
        width: 15vw;
        height: 15vh;
        align-items: center;
        background-color: var(--cor1);
        color:white;
        font-family: var(--fonte3);
        border-radius: 10px;
        right: 2vw;
        position: absolute;

        p{
            margin: 0;
            padding: 1.5vh 0 0 1.5vw ;
            font-size: 2vh;
        }

        button{
            position: relative;
            width: 6vw;
            height: 3vh;
            background-color: var(--cor4);
            color: black;
            border: none;
            border-radius: 5px;
            font-size: 1.7vh;
            display: flex;
            align-items: center;
            margin:auto;
            cursor: pointer;
            margin-top:1.5vh;
            box-shadow: black 5px 5px 5px;
            border:none;
            transition: 0.3s;

            a{
                text-decoration: none;
                color: black;
                margin: auto;
            }
    }
        button:hover{
            transition: 0.3s;
            transform: scale(1.1);
        }
    }
    

    nav {
        display: flex;
        background: transparent;
        margin-top: 5vh;
        padding-left :8vw ;

        .top-button {
            display: block;
            width: fit-content;
            height: fit-content;
            background: #1b5e4b;
            color: white;
            border: none;
            padding: 2vh 3vw;
            font-size: 2.5vh;
            margin: 0 auto 20px auto;
            border-radius: 10px;
            box-shadow: var(--cor1) 5px 5px 5px;
            position: absolute;
            right: 17vw;

        }

        button {
            width: 7vw;
            height: 5vh;
            font-family: var(--fonte2);
            font-size: 2vh;
            background: white;
            border: 0.3vh solid var(--cor2);
            border-bottom: 0;
            border-radius: 8px 8px 0 0;
            padding: 8px;
            margin-right:0.5vw;
            margin-top: 1.5vh;
            cursor: pointer;
            font-weight: 500;
            transition: 0.3s;
            
                
        }

        #visu{
            background-color: var(--cor2);
            color: white;
        }

        button:hover {
            background: var(--cor2);
            color: white;
            transition: 0.3s;
        }
     }


    main {
        display: flex;
        width: 70vw;
        height: 60vh;
        position: relative;
        left:8vw ;
        
    }
    .left-panel {
        flex: 2;
        background: white;
        border: 1px solid #ccc;
        border-top: 0;
        border-bottom: 8px;
        padding: 10px;
    }
    .processo {
        background: #d5e9e2;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 6px;
    }
    .processo h3 {
        margin: 0 0 5px;
        font-size: 15px;
    }
    .processo li {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
    }
    .green { background: green; }
    .orange { background: orange; }
    .red { background: red; }
    .right-panel {
        flex: 1;
        background: white;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
    }
    .btn-relatorio {
        width: 100%;
        background: #1b5e4b;
        color: white;
        padding: 8px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }


    footer{
        background-color: #0f2b2e;
        color: white;
        width: 100vw;
        height: 8vh;
        font-family: var(--fonte3);
        font-size: 2vh;
        position: absolute;
        top: 92vh;
        text-align: center;

        p{margin:3vh;}
    }